<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.mobiledevpro.profile.settings">

    <dist:module
        dist:instant="false"
        dist:title="@string/feature_title_profile_settings">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>
        <dist:fusing dist:include="false" />
    </dist:module>
</manifest>